<%- include('layout/header') %> <%- include('layout/nav') %>

<h1>Ini halaman index</h1>
selamat datang <%= nama %>

<p>Selamat datang di halaman index atau home .</p>

<%- include('layout/footer') %>
