<nav>
    <a href="/">Index</a>
    <!-- Mengarahkan ke index -->
    <a href="/about">About</a>
    <!-- Tetap ke halaman about -->
    <a href="/contact">Contact</a>
    <!-- Mengarahkan ke halaman contact -->
  </nav>
